
h1.logo-wrapper {
  margin: 0px 0px;
}

header#header {
  z-index: 10;
}

header .brand-logo {
  margin: 1px 0px;
  padding: 0 20px;
  line-height: 60px;
}

footer.page-footer {
  padding-top: 0px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;

  .footer-copyright {
    text-align: center;
  }
}

.vehicle-info, .planet-distance-info {
  font-size: 12px;
  color: #888;
}

.planet-distance-info {
  color: #00897b;
}

.disabled, .exhausted, .incapable {
  opacity: 0.6;
  pointer-events: none;
}

.center {
  display: block;
  margin: 0 auto;
}

.falcone-image {
  margin-top: 50px;
}

.cards-container {
  overflow: auto;
  min-width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  .task-card {
    width: 300px;
    min-height: 100px;
    background-color: #eee;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    cursor: move;
    vertical-align: top;

    .card {
      margin-bottom: 20px;
    }

    .group {
      min-height: 172px;
    }

    .no-task-placeholder {
      padding: 71px 18px;
      text-align: center;
      font-size: 20px;
      background: transparent;
      color: #aaa;
      border: 1px dashed #aaa;
    }

    .remove-card {
      position: absolute;
      top: -12px;
      right: -12px;
      cursor: pointer;
    }

    .remove-task {
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer;
      z-index: 100;
    }
  }
}

.non-draggable {
  pointer-events: none;
}