<div class="container-fluid cards-container" style="width:{{List.length * 310}}px">
    <div class="card task-card" ng-repeat="card in List">
        <i class="remove-card material-icons" ng-click="deleteList($index)">clear</i>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" ng-model="card.name" placeholder="Card Title"/>
            </div>
        </div>
        <div class="row card" ng-repeat="task in card.tasks">
            <i class="remove-task material-icons" ng-click="deleteList($index)">clear</i>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" ng-model="card.title" placeholder="Task Title"/>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" ng-model="card.description" placeholder="Task Description"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn-waves waves-effect btn-large light-blue col s12" ng-click="addTask($index)">Add Task</a>
        </div>
    </div>
</div>